<launch>
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

	<node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" output="screen"/>
	<node name="interactive_marker_proxy" pkg="interactive_marker_proxy" type="proxy" output="screen" args="topic_ns:=/basic_controls target_frame:=/world">

	</node>	
</launch>